body {
    background-color: #E1E5F2;
}

textarea{
    resize: none;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.todosContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    overflow: auto;
    max-height: 500px;
    width: 100%;
    max-width: 100%;
    background-color: #001A23;
}

.todo-container {
    width: 300px;
}

.low-urgency {
    color:  #4dff40;
}

.medium-urgency {
    color: #ff9e29;
}

.high-urgency {
    color: #ba0c00;
}

.main-page {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 200px;
}

.buttons {
    z-index: 2;
    width: 75px;
    height: 75px;
    background-color: #00acac6d;
    cursor: pointer;
    color: white;
    border-radius: 20px 5px 20px;
}

.todo {
    z-index: 2;
    width: 240px;
    background-color: #008f8fac;
    cursor: pointer;
    border-radius: 20px 5px 20px;
    margin: 1%;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

form > button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #007f7f;
    color: white;
    padding: 13px 16px;
    border-radius: 4px;
}


.logosmol {
    width: 125px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.shift-note {
    z-index: 2;
    width: 240px;
    background-color: #008f8fac;
    cursor: pointer;
    border-radius: 0% 100% 0% 100% / 92% 0% 100% 8%;
    margin: 1%;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    inline-size: 150px;
    overflow-wrap: break-word;
}

.completed {
    text-decoration: line-through;
}

.complete {
    color: white;
}

.delete {
    margin-bottom: 10px;
    background-color: #007f7f;
    color: white;
    padding: 13px 16px;
    border-radius: 4px;
}

.todo-box > button {
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #bb0000;
    color: white;
    padding: 7px 10px;
    border-radius: 4px;
}

.todo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}