.splash-main {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.splash-main img {
    width: 35%;
    z-index: 2;
}

.startUsing {
    color: white;
    background-color: #007f7f;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin: 10px;
    z-index: 1;
    transition: background-color 0.25s linear 0s;
}

.startUsing:hover {
    background-color: #00acac;
    cursor: pointer;
}

.aboutUsBtn {
    color: white;
    background-color: #025d6a;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin: 10px;
    z-index: 1;
    transition: background-color 0.25s linear 0s;
}

.aboutUsBtn:hover {
    background-color: #009e9e;
    cursor: pointer;
}

.splash-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
    background-color: #007f7f50;
    padding: 25px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 25px;
}

.description {
    white-space: wrap;
    max-width: 350px;
    margin-right: 300px;
}

.splash-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

.left {
    min-width: 600px;
}

.login-button {
    z-index: 2;
    width: 75px;
    height: 75px;
    background-color: #00acac6d;
    cursor: pointer;
    color: white;
    border-radius: 20px 5px 20px;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: transparent;
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: teal;
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
    background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
    font-style: italic;
}

/* Add a blue color to the author */
.author {
    color: white;
}